.home-future_slider_wrap_slide .swiper-slide-active{
  z-index: 100;
  // background-color: red  !important;
}

.home-future_slider_wrap_slide{
  opacity: 0.2;
  transition: opacity 0.2s ease;
  &.swiper-slide-active{
    opacity: 1;
  }
}

.home-rive-embed{
  @media screen and (max-width: 479px){
    canvas {
      width: 296px;
      height: 296px;
    }
  }
}