// Importing from a subfolder
// @import 'components/buttons';

// Importing from a different folder
// @import '../assets/variables';




/***********************************************
  section styles
***********************************************/
main section, header, footer {
    position: relative;
}

/***********************************************
  remove scroll bounce
***********************************************/
body { overscroll-behavior: none; }


/***********************************************
  container styles
***********************************************/
.w-container {
  container-type: inline-size;
}


/***********************************************
  disable ios showing play button on autoplay videos
***********************************************/
[background-animation]::-webkit-media-controls {
  display:none !important;
}

[background-animation]::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

/***********************************************
  creating line breaks and disableing them on tablet / mobile
***********************************************/
.line-break{
  /* Desktop: Add a manual line break */
  &::after {
    content: "";
    display: block; /* Forces the second part to a new line */
  }
}

.line-break-desktop{
  /* Desktop: Add a manual line break */
  &::after {
    content: "";
    display: block; /* Forces the second part to a new line */
  }

  /* Tablet and Mobile: Remove the manual line break */
  @media (max-width: 991px) { 
    display: inline; /* Keeps the content inline */
  }
}

.line-break-tablet{
  /* Desktop: Add a manual line break */
  &::after {
    content: "";
    display: block; /* Forces the second part to a new line */
  }

  /* Tablet and Mobile: Remove the manual line break */
  @media (max-width: 767px) { 
    display: inline; /* Keeps the content inline */
  }
}

/***********************************************
  adding smooth scroll + anchor scroll offset
***********************************************/
html {
  scroll-padding-top: 120px;
  scroll-behavior: smooth;
}