
// variable --after-width will be changed in JavaScipt
.highlight {
  position: relative;
  display: inline-block;
  --after-width: 0;
  transition: all 0.2s;
  &.highlight-blue{
    color: #fff;
    &:after{
      background-color: #0040f5;
    }
  }
  &.highlight-yellow:after{
    background-color: #f1f935;
  }
  &.highlight-pink{
    &:after{
      background-color: #ff1cbe;
    }
  }
  &.highlight-green{
    &:after{
      background-color: #04f464;
    }
  }

}

.highlight::after {
  content: '';
  position: absolute;
  top: 0;
  left: -1%;
  width: var(--after-width);
  height: 108%;
  z-index: -1; /* Ensure it is behind the text */
  transition: width 0.8s ease-out;
}



